# Moblie Price Classification

### <span style='color:purple '> Import the 2 libraries: pandas and numpy and then read the file containing the dataset </span>

In [6]:
import pandas as pd
import numpy as np

In [7]:
df=pd.read_csv("test.csv")

### <span style='color:purple '> Preview of the data </span>

In [4]:
df.head(3)

,id,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,...,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
0,1,1043,1,1.8,1,14,0,5,0.1,193,...,16,226,1412,3476,12,7,2,0,1,0
1,2,841,1,0.5,1,4,1,61,0.8,191,...,12,746,857,3895,6,0,7,1,0,0
2,3,1807,1,2.8,0,1,0,27,0.9,186,...,4,1270,1366,2396,17,10,10,0,1,1

In [6]:
df.shape

(1000, 21)

In [7]:
df.dtypes

id                 int64
battery_power      int64
blue               int64
clock_speed      float64
dual_sim           int64
fc                 int64
four_g             int64
int_memory         int64
m_dep            float64
mobile_wt          int64
n_cores            int64
pc                 int64
px_height          int64
px_width           int64
ram                int64
sc_h               int64
sc_w               int64
talk_time          int64
three_g            int64
touch_screen       int64
wifi               int64
dtype: object

### <span style='color:purple '> A summary of the data </span>

In [8]:
df.describe()

,id,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,...,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,...,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000
mean,500.500000,1248.510000,0.516000,1.540900,0.517000,4.593000,0.487000,33.652000,0.517500,139.51100,...,10.054000,627.121000,1239.774000,2138.998000,11.995000,5.316000,11.085000,0.756000,0.50000,0.507000
std,288.819436,432.458227,0.499994,0.829268,0.499961,4.463325,0.500081,18.128694,0.280861,34.85155,...,6.095099,432.929699,439.670981,1088.092278,4.320607,4.240062,5.497636,0.429708,0.50025,0.500201
min,1.000000,500.000000,0.000000,0.500000,0.000000,0.000000,0.000000,2.000000,0.100000,80.00000,...,0.000000,0.000000,501.000000,263.000000,5.000000,0.000000,2.000000,0.000000,0.00000,0.000000
25%,250.750000,895.000000,0.000000,0.700000,0.000000,1.000000,0.000000,18.000000,0.300000,109.75000,...,5.000000,263.750000,831.750000,1237.250000,8.000000,2.000000,6.750000,1.000000,0.00000,0.000000
50%,500.500000,1246.500000,1.000000,1.500000,1.000000,3.000000,0.000000,34.500000,0.500000,139.00000,...,10.000000,564.500000,1250.000000,2153.500000,12.000000,5.000000,11.000000,1.000000,0.50000,1.000000
75%,750.250000,1629.250000,1.000000,2.300000,1.000000,7.000000,1.000000,49.000000,0.800000,170.00000,...,16.000000,903.000000,1637.750000,3065.500000,16.000000,8.000000,16.000000,1.000000,1.00000,1.000000
max,1000.000000,1999.000000,1.000000,3.000000,1.000000,19.000000,1.000000,64.000000,1.000000,200.00000,...,20.000000,1907.000000,1998.000000,3989.000000,19.000000,18.000000,20.000000,1.000000,1.00000,1.000000

In [9]:
df['n_cores'].describe()

count    1000.000000
mean        4.328000
std         2.288155
min         1.000000
25%         2.000000
50%         4.000000
75%         6.000000
max         8.000000
Name: n_cores, dtype: float64

In [10]:
df.var()

id               8.341667e+04
battery_power    1.870201e+05
blue             2.499940e-01
clock_speed      6.876849e-01
dual_sim         2.499610e-01
fc               1.992127e+01
four_g           2.500811e-01
int_memory       3.286495e+02
m_dep            7.888263e-02
mobile_wt        1.214631e+03
n_cores          5.235652e+00
pc               3.715023e+01
px_height        1.874281e+05
px_width         1.933106e+05
ram              1.183945e+06
sc_h             1.866764e+01
sc_w             1.797812e+01
talk_time        3.022400e+01
three_g          1.846486e-01
touch_screen     2.502503e-01
wifi             2.502012e-01
dtype: float64

### <span style='color:purple '> Some interesting coorelations between different variables </span>

In [12]:
x=df[['battery_power','clock_speed']].corr(method='pearson')
x

               battery_power  clock_speed
battery_power       1.000000    -0.039075
clock_speed        -0.039075     1.000000

In [13]:
y=df[['fc','int_memory']].corr(method='pearson')
y

                  fc  int_memory
fc          1.000000   -0.006565
int_memory -0.006565    1.000000

In [14]:
z=df[['m_dep','mobile_wt']].corr(method='pearson')
z

              m_dep  mobile_wt
m_dep      1.000000  -0.041994
mobile_wt -0.041994   1.000000

In [15]:
g=df[['fc','battery_power']].corr(method='pearson')
g

                     fc  battery_power
fc             1.000000      -0.007846
battery_power -0.007846       1.000000

In [8]:
a=df[['n_cores','clock_speed']].corr(method='pearson')
a

              n_cores  clock_speed
n_cores      1.000000    -0.012247
clock_speed -0.012247     1.000000

In [9]:
b=df[['battery_power','talk_time']].corr(method='pearson')
b

               battery_power  talk_time
battery_power       1.000000   0.015546
talk_time           0.015546   1.000000

In [10]:
c=df[['dual_sim','talk_time']].corr(method='pearson')
c

           dual_sim  talk_time
dual_sim    1.00000    0.00439
talk_time   0.00439    1.00000

In [11]:
d=df[['mobile_wt','sc_h']].corr(method='pearson')
d

           mobile_wt      sc_h
mobile_wt   1.000000 -0.022053
sc_h       -0.022053  1.000000

#### <span style='color:blue '> Positive linear correlation </span>

###### The following relation between the front camera mega pixel and the Primary Camera mega pixels shows that there is a positive linear correlation which means that companies prioritize the front and primary cameras almost equally when manufacturing phones for customer appeal so that customers could use both cameras comfortablly

In [16]:
x=df[['fc','pc']].corr(method='pearson')
x

          fc        pc
fc  1.000000  0.659338
pc  0.659338  1.000000

In [32]:
df.groupby('id').count()['blue']

id
1       1
2       1
3       1
4       1
5       1
       ..
996     1
997     1
998     1
999     1
1000    1
Name: blue, Length: 1000, dtype: int64

#### <span style='color:blue '> Number of mobiles that have a blutooth connection: </span>
###### 516 of the mobiles  which is equal to 51.6%

In [18]:
sum_blue=df["blue"].sum()
print(sum_blue)

516

In [19]:
perc_blue=sum_blue*100/1000
print(perc_blue,"%")

51.6 %